<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-list-target="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= simple_form_for @list,
          data: {
            list_target: "form",
            action: "submit->list#send"
          } do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, placeholder: 'Titre de la liste', label: false %>
          <%= f.submit 'Créer', class: 'btn btn-flat btn-primary' %>
          <button type="button" class="btn btn-flat btn-secondary" data-bs-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
